@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}
 
@layer base {
  :root {
    --background: 282 100% 7%;
    --foreground: 0 0% 98%;
 
    --muted: 282 48% 25%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 282 100% 7%;
    --popover-foreground: 0 0% 98%;
 
    --card: 282 100% 7%;
    --card-foreground: 0 0% 98%;
 
    --border: 282 48% 25%;
    --input: 282 48% 25%;
 
    --primary: 337 100% 43%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 282 48% 25%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 275 100% 92%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 83.1%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}